@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #F8EDE3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    color: #85586F;
    font-weight: 500;
}

.subtitle {
    color: #85586F;
    font-weight: 400;
}

.file-row {
    display: flex;
}

input[type="file"] {
    display: none;
}